body {
    background-color: gray;
    text-align: center;
}
div.outerbox {
    width: 612px;
    height: 612px;
    border: 3px solid;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}

div.box {
    width: 200px;
    height: 200px;
    background-color: beige;
    margin: auto;
}

table {
    height: 100%;
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
}

table.odd {
    background-color: wheat;
}

td {
    height: fit-content;
    width: fit-content;
    border: 1px solid;
    text-align: center;
    font-size: larger;
}